{% extends "base_bootstrap.html" %}

{% block navbar %}
  {% load app_tags %}

  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'ads:all' %}">{{ settings.APP_NAME }}</a>
      </div>

      <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->

      {% if user.is_authenticated %}
        <div class="navbar-text d-none d-sm-block ml-auto">{{request.user.username}}'s AdSpace</div>
      {% endif %}

      <ul class="navbar-nav flex-row ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item mr-3">
          <a class="nav-link" href="{% url 'ads:ad_create' %}">Create Ad</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img style="width: 25px;" src="{{ user|gravatar:60 }}" /><b class="caret"></b>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'ads:all' %}">Logout</a>
          </div>
        </li>

        {% else %}
        <li class="nav-item mr-3">
          <a class="nav-link" href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'register:signup' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

{% endblock %}

{% block footer %}
  <div class="footer">
    <p class="mb-1" style="font-size: 1.2em;">designed by <em>Tshepo Mosoeunyane</em></p>
    <div class="text-center py-0">
      <a class="btn btn-social-icon btn-linkedin ml-2" href="https://www.linkedin.com/in/tshepo-mosoeunyane" rel="noreferrer" target="_blank">
        <i class="fa fa-linkedin text-reset" style="font-size: 1.5em; color: rgb(62, 0, 231);"></i> <br>
        <span>LinkedIn</span>
      </a>

      <a class="btn btn-social-icon btn-github" href="https://github.com/Lemour-sudo" rel="noreferrer" target="_blank">
        <i class="fa fa-github" style="font-size: 1.5em; color: black;"></i> <br>
        <span>GitHub</span>
      </a>

      <a class="btn btn-social-icon" href="#" rel="noreferrer" target="_blank">
        <i class="fa fa-id-badge" style="font-size: 1.6em; color: rgb(247, 0, 124);"></i> <br>
        <span>Profile</span>
      </a>
    </div>
  </div>
{% endblock %}