{% extends "base_menu.html" %}

{% block content %}

<div class="container mt-5 pt-5 px-5">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% load crispy_forms_tags %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  
    {{ form|crispy }}
  
    <input type="submit" class="btn btn-primary" value="Login" />
  
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p class="mt-4">Not a member yet? <a href="{% url 'home:signup' %}">Join Now</a>.</p>
</div>
{% endblock %}
