{% extends "base_menu.html" %}

{% block title %}Sign-up Page{% endblock title %}

{% block content %}
<div class="container mt-5 pt-5 px-5">
  <h2 style="font-size: 1.5em; margin-bottom: 1em;">Sign-up Page</h2>
  
  {% load crispy_forms_tags %}
  <form method="post">
    {% csrf_token %}
  
    {{ form|crispy }}
  
    <button class="btn btn-primary" type="submit">Register</button>
  </form>

  <p class="mt-4">Have an account already? <a href="{% url 'login' %}?next={% url 'ads:all' %}">Login here</a>.</p>
</div>
{% endblock content %}